[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
pygments = "*" # for code highlighting
django-extensions = "*"
argon2-cffi = "*"
jwcrypto = "*"
celery = "*"
django-celery-results = "*"

[requires]
python_version = "3.7"
